<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/odometer-theme-default.css"/>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/vendors/jquery-1.11.3.js"></script>
    <script src="javascripts/vendors/d3.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-animate.min.js"></script>
    <script src="javascripts/angular-route.min.js"></script>
    <script src="javascripts/odometer.min.js"></script>
    <script src="javascripts/ui-bootstrap-1.1.2.min.js"></script>
    <script src="javascripts/angular-odometer.min.js"></script>
    <script src="javascripts/shopApp.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src='javascripts/vendors/socket.io/socket.io.js'></script>
    <link rel="stylesheet" href="javascripts/vendors/bootstrap/css/bootstrap.min.css">
    <script src="javascripts/vendors/bootstrap/js/bootstrap.min.js"></script>
</head>
<%
if (user === true){
%>
<body ng-app="shopApp" ng-init="shared={loggedIn: true}">
<%
} else {
%>
<body ng-app="shopApp" ng-init="shared={}">
<%
}
 %>
    <div id="main" ng-controller="homeController">
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav nav-pills">
                    <li class="logo"><label>Shoper</label></li>
                    <li class="active "><a data-toggle="pill" href="#/items">Items</a></li>

                    <%
                    if (user === true){
                    %>
                        <li class="active"><a href="#/graph">Graph</a></li>
                        <li class="active"><a href="#/statistics">Statistics</a></li>
                        <li class="active"><a href="#/orders">Orders</a></li>
                        <li><a href="/logout">Logout</a></li>
                    <%
                    } else {
                    %>
                    <li class="active"><a  data-toggle="pill" href="#/cart">My Cart</a ></li>
                    <li><a class="circularBorder btn-info " href="/admin">Login</a></li>
                    <%
                    }
                     %>
                    <li class="navbar-right rates"><span  class="form-control">1$ = <label  angular-odometer data-odometer="rate.dollar"></label> ₪</span></li>
                </ul>
            </div>
        </nav>
        <div class="container" ng-view></div>
        <div ng-show="loading" class="container auto_scaling" style="position:relative;" id="loading_splash">
            <canvas id="layer6" width="50" height="50" class="anim_6"> </canvas> <canvas id="layer8" width="50" height="50" class="anim_8"></canvas>        <canvas id="layer7" width="50" height="50" class="anim_7"></canvas>
        </div>
        <script>
            var c6 = document.getElementById("layer6"); var ctx6 = c6.getContext("2d"); ctx6.fillStyle = "#FF0000"; ctx6.beginPath(); ctx6.arc(25, 25, 24, 0, Math.PI * 2, true); ctx6.closePath(); ctx6.fill(); var c8 = document.getElementById("layer8"); var ctx8 = c8.getContext("2d"); ctx8.fillStyle = "#000"; ctx8.fillStyle = "#fff"; ctx8.fillRect(15, 0, 20, 20); var c7 = document.getElementById("layer7"); var ctx7 = c7.getContext("2d"); ctx7.fillStyle = "#fff"; ctx7.beginPath(); ctx7.arc(25, 25, 21, 0, Math.PI * 2, true); ctx7.closePath(); ctx7.fill(); ctx7.fillStyle = "#000"; ctx7.font = "8pt Calibri"; ctx7.fillText("Loading", 6, 28);
        </script>
</div>
</body>
</html>